<!DOCTYPE html>
<html lang="en">
<head>
    <title>Titanic 🗻💥🚢</title>
</head>
<body style="margin: 30px">
    <h2>Titanic Survivor 🗻💥🚢 Predict Page</h2>

    <p style="font-size: 20px">Female: {{ hasil.female }}</p>
    <p style="font-size: 20px">Male: {{ hasil.male }}</p>
    <p style="font-size: 20px">Child: {{ hasil.child }}</p>
    <p style="font-size: 20px">Man: {{ hasil.man }}</p>
    <p style="font-size: 20px">Woman: {{ hasil.woman }}</p>
    <p style="font-size: 20px">Class: {{ hasil.pclass }}</p>
    <p style="font-size: 20px">Age: {{ hasil.age }}</p>
    <p style="font-size: 20px">Siblings: {{ hasil.sibsp }}</p>
    <p style="font-size: 20px">Parents: {{ hasil.parch }}</p>
    <p style="font-size: 20px">Fare: {{ hasil.fare }}</p>
    <p style="font-size: 20px">Adult Man: {{ hasil.adultman }}</p>
    <p style="font-size: 20px">Alone: {{ hasil.alone }}</p>
    <p style="font-size: 20px">PREDIKSI: {{ hasil.PREDIKSI }}</p>
</body>
</html>